.groupicon 	{
	height:200px;
	text-align: centerline;
	font-size: 200px;
	line-height:150px;
	text-align:center;
}

.icon-group	{
	color: black;
    text-shadow: 2px 2px 2px black;
	font-size: 50%;
}

.icon-group:hover	{
	color: red;
    text-shadow: 2px 2px 2px black;
	font-size: 60%;
}
